
.register-card .submit-btn {
    background-color: #2ecc71; 
}

.register-card .submit-btn:hover {
    background-color: #27ae60;
}


.register-card .input-group {
    margin-bottom: 18px;
}


.register-card .message {
    color: #e74c3c;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    font-size: 14px;
}