<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Author Books</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/tables.css">
</head>

<body>

    <h1>Books by {{ author_name }}</h1>

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Rating</th>
            <th>Details</th>
        </tr>

        {% for book in books %}
        <tr>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[4] }}</td>
            <td>{{ book[6] }}</td>
            <td>
                <form action="/books/details" method="POST">
                    <input type="hidden" name="book_id" value="{{ book[0] }}">
                    <button type="submit">
                        View Details
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/books" class="back-link">
        Back to Search
    </a>

</body>

</html>