<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Digital Library - Home</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/home.css">
    
</head>
<body>

    <div class="container">
        <h1>Welcome to Digital Library</h1>

        <div class="nav-menu">
            <a href="http://127.0.0.1:8000/books" class="nav-link search-btn">🔍 Search Books</a>
            <a href="/profile" class="nav-link"> Enter Profile</a>
            <a href="/login" class="nav-link"> Login</a>
            <a href="/add-user" class="nav-link"> Create Account</a>
        </div>

        {% if Message %}
            <p class="message">{{Message}}</p>
        {% endif %}
    </div>

</body>
</html>