<!DOCTYPE html>
<html>
    <head>
        <title></title>

    </head>

    <body>
        <form method="post" action="/add-user">
            <p> ID: <input type="text" name="user_id" required></p>
            <p> Full Name: <input type="text" name="full_name" required></p>
            <p> Email: <input type="email" name="email" required></p>
            <p> User Name: <input type="text" name="username" required></p>
            <p> Password: <input type="password" name="password" required></p>
            <p><input type="submit"></p>
        </form>
        <p>{{ Message }}</p>

    </body>
</html>